@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;   
}

html {
  color-scheme: light;
}


/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--fallback-b1, oklch(var(--b1) / 1));  
  color: var(--fallback-bc, oklch(var(--bc) / 1));       
  font-family: Arial, Helvetica, sans-serif;
}